<include file="Public/top" title="top" />
<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style>
<hr>
	<div class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-10">
		  <div>
	  		<h2>关键字【live】的搜索结果<small>共30记录</small></h2>
			  	<table class="table table-striped">
			  	<tbody><tr>
			  		<th width="10%">提交时间</th>
			  		<th>标题</th>
			  		<th width="15%">漏洞类型</th>
			  		<th width="10%">提交者</th>
			  	</tr>
			  	
			  	<tr>
			  		<td>2016-03-14</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2016-0184545.html" target="_blank">
			  			 PPTV(PPlive)智能BUS系统存在SQL注入（可添加公交车站点/上车地点/公交车起始点） </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2016-0184545" target="_blank">SQL注射漏洞</a></td>
			  		<td>Aasron</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2016-03-05</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2016-0181075.html" target="_blank">
			  			 PPTV(PPlive) 某系统安全漏洞（涉及近10万份手机IMEI\卡密\账号） </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2016-0181075" target="_blank">应用配置错误</a></td>
			  		<td>0x 80</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2016-03-01</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2016-0179731.html" target="_blank">
			  			 看我如何不花钱享受PPTV(PPLIVE)年费会员待遇 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2016-0179731" target="_blank">权限提升</a></td>
			  		<td>老中医</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2016-03-01</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2016-0179852.html" target="_blank">
			  			 PPTV(PPlive) 多处SQL注入漏洞+6千份用户手机号码泄漏+36万个设备推送 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2016-0179852" target="_blank">SQL注射漏洞</a></td>
			  		<td>0x 80</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2016-02-23</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2016-0177871.html" target="_blank">
			  			 Live800在线客服系统SQL查询/GETSHELL漏洞 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2016-0177871" target="_blank">文件上传导致任意代码执行</a></td>
			  		<td>applychen</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2016-02-21</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2016-0177533.html" target="_blank">
			  			 Live800在线客服系统SQL注射/未授权查看对话记录 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2016-0177533" target="_blank">SQL注射漏洞</a></td>
			  		<td>applychen</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2016-02-20</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2016-0177183.html" target="_blank">
			  			 Live800在线客服系统默认密码导致的SQL查询/SQL注射漏洞 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2016-0177183" target="_blank">默认配置不当</a></td>
			  		<td>applychen</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2016-01-03</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2016-0167079.html" target="_blank">
			  			 live800在线客服系统XML实体注入漏洞 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2016-0167079" target="_blank">任意文件遍历/下载</a></td>
			  		<td>applychen</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2015-12-29</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2015-0165571.html" target="_blank">
			  			 live800在线客服系统通用型漏洞打包（逻辑错误&amp;SQL注射） </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2015-0165571" target="_blank">设计缺陷/逻辑错误</a></td>
			  		<td>我的邻居王婆婆</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2015-12-28</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2015-0165420.html" target="_blank">
			  			 live800在线客服系统某处通用型SQL注射漏洞 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2015-0165420" target="_blank">SQL注射漏洞</a></td>
			  		<td>我的邻居王婆婆</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2015-10-18</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2015-0147511.html" target="_blank">
			  			 live800在线客服系统SQL注射漏洞 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2015-0147511" target="_blank">SQL注射漏洞</a></td>
			  		<td>applychen</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2015-10-17</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2015-0147322.html" target="_blank">
			  			 live800客服系统任意文件下载漏洞 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2015-0147322" target="_blank">任意文件遍历/下载</a></td>
			  		<td>applychen</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2015-06-16</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2015-0120764.html" target="_blank">
			  			 EXLIVE位置服务平台存在命令执行可查部分车辆具体地点 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2015-0120764" target="_blank">命令执行</a></td>
			  		<td>ByStudent</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2015-04-24</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2015-0110075.html" target="_blank">
			  			 PPTV(PPlive)客户端批量刷会员漏洞 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2015-0110075" target="_blank">设计错误/逻辑缺陷</a></td>
			  		<td>问题来了</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2015-04-17</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2015-0108147.html" target="_blank">
			  			 广西广电某站漏洞可内网漫游导致的蝴蝶效应(影响sohu、淘宝、腾讯、PPlive等诸多互联网企业CDN配置) </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2015-0108147" target="_blank">后台弱口令</a></td>
			  		<td>眯眯眼</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2014-09-24</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2014-077169.html" target="_blank">
			  			 live800在线沟通平台客户端存储型XSS可攻击客服 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2014-077169" target="_blank">XSS跨站脚本攻击</a></td>
			  		<td>mramydnei</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2013-08-28</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2013-035458.html" target="_blank">
			  			 PPLive播放器DLL劫持漏洞（不限路径） </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2013-035458" target="_blank">设计错误/逻辑缺陷</a></td>
			  		<td>336</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2013-08-24</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2013-035148.html" target="_blank">
			  			 live800聊天窗口定向xss（本地域权限） </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2013-035148" target="_blank">XSS 跨站脚本攻击</a></td>
			  		<td>0x12</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2013-08-24</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2013-035112.html" target="_blank">
			  			 国外知名在线通信软件(Livecom)任意代码执行漏洞导致用户信息泄漏 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2013-035112" target="_blank">命令执行</a></td>
			  		<td>士大夫</td>
			  	</tr>
			  	
			  	<tr>
			  		<td>2013-07-22</td>
			  		<td><a href="http://10.18.230.124/static/bugs/wooyun-2013-028318.html" target="_blank">
			  			 live800在线客服存在xss漏洞影响众多金融行业及其他各大网站 </a></td>
			  		<td><a href="http://www.wooyun.org/bugs/wooyun-2013-028318" target="_blank">XSS跨站脚本攻击</a></td>
			  		<td>goderci</td>
			  	</tr>
			  	
				</tbody></table>
				<!-- 分页组件js -->
				<script src="./搜索结果-乌云公开漏洞、知识库搜索_files/jquery.twbsPagination.js"></script>
				<ul id="pagination" class="pagination-sm pagination"><li class="first disabled"><a href="http://10.18.230.124/search?keywords=live&amp;content_search_by=by_bugs#">首页</a></li><li class="prev disabled"><a href="http://10.18.230.124/search?keywords=live&amp;content_search_by=by_bugs#">前一页</a></li><li class="page active"><a href="http://10.18.230.124/search?keywords=live&amp;content_search_by=by_bugs#">1</a></li><li class="page"><a href="http://10.18.230.124/search?keywords=live&amp;content_search_by=by_bugs#">2</a></li><li class="next"><a href="http://10.18.230.124/search?keywords=live&amp;content_search_by=by_bugs#">后一页</a></li><li class="last"><a href="http://10.18.230.124/search?keywords=live&amp;content_search_by=by_bugs#">尾页</a></li></ul>
				<script>
					 $(pagination).twbsPagination({
					 	first: "首页",
					 	prev: "前一页",
					 	next: "后一页",
					 	last: "尾页",
				        totalPages: 2,
				        visiblePages: 5,
				        startPage: 1,
				        onPageClick: function (event, page) {
				            location.href="/search?keywords=live&&content_search_by=by_bugs&&search_by_html=False&&page="+page;
				        }
				    });
				</script>
			</div>
	 	</div>
	  <div class="col-md-1"></div>
	</div>


<include file="Public/foot" title="foot" />
