<include file="top" title="top" />


	<div class="content">
<input type="hidden" id="token" style="display:none" value="" />
		<h2>漏洞概要
						<span style="margin:0 0 0 580px; float:right; position:absolute; font-size:14px; font-weight:normal">关注数(<span id="attention_num">4</span>)
		 <span id="attend_action">
		 		 <a class="btn" href="javascript:void(0)" onclick="AttendBug(25)">关注此漏洞</a></span>
		 		 </span></h2>

		<h3>缺陷编号：		<a href="">{$data[0].wooyun_id}</a>
			<input id="fbid" type="hidden" value="25">
					</h3>

		<h3 class='wybug_title'>漏洞标题：		{$data[0].wybug_title}                                        
					</h3>

		<h3 class='wybug_corp'>相关厂商：		<a href="http://www.wooyun.org/corps/新浪">{$data[0].wybug_corp}</a>
		</h3>

		<h3 class='wybug_author'>漏洞作者：		<a href="http://www.wooyun.org/whitehats/cnyouker">{$data[0].wybug_author}</a></h3>
		<h3 class='wybug_date'>提交时间：		{$data[0].wybug_date}</h3>
				<h3 class='wybug_open_date'>公开时间：		{$data[0].wybug_date}</h3>
		<h3 class='wybug_type'>漏洞类型：		{$data[0].wybug_type}</h3>

		<h3 class='wybug_level'>危害等级：		{$data[0].wybug_level}</h3>
				<h3>自评Rank：		20</h3>
				<h3 class='wybug_status'>漏洞状态：{$data[0].wybug_status}</h3>

		<h3>漏洞来源：		<a href="http://www.wooyun.org">http://www.wooyun.org</a>，如有疑问或需要帮助请联系 <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="97fff2fbe7d7e0f8f8eee2f9b9f8e5f0">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></h3>
		<h3>Tags标签：
												<span class="tag"><a href="/tags/%E7%AC%AC%E4%B8%89%E6%96%B9%E4%B8%8D%E5%8F%AF%E4%BF%A1%E7%A8%8B%E5%BA%8F">第三方不可信程序</a></span>
							<span class="tag"><a href="/tags/%E7%AC%AC%E4%B8%89%E6%96%B9%E6%A1%86%E6%9E%B6">第三方框架</a></span>
							<span class="tag"><a href="/tags/struts">struts</a></span>
								
</h3>
		<h3>
		<!-- Baidu Button BEGIN -->
        <div id="share">
        	<div style="float:right; margin-right:100px;font-size:12px">
            <span class="fav-num"><a id="collection_num">0</a>人收藏</span>
			<a style="text-decoration:none; font-size:12px" href="javascript:void(0)" class="fav-add btn-fav">收藏</a>
<script type="text/javascript">
var token="";
var id="25";

$(".btn-fav").click(function(){ CollectBug(id,token); });

</script>
			</div>
            <span style="float:left;">分享漏洞：</span>
            <div id="bdshare" class="bdshare_b" style="line-height: 12px;"><img src="http://bdimg.share.baidu.com/static/images/type-button-5.jpg" />
                <a class="shareCount"></a>
            </div>
        </div>
        <!-- Baidu Button END -->
    	</h3>
		<hr align="center"/>

		<h2>漏洞详情</h2>
		<h3 class="detailTitle">披露状态：</h3>
		<p class="detail" style="padding-bottom:0">
					</p>
		<p class="detail wybug_open_status">
									2010-07-16：	细节已通知厂商并且等待厂商处理中<br/>
									1970-01-01：	厂商已经确认，细节仅向厂商公开<br/>
									1970-01-11：	细节向核心白帽子及相关领域专家公开<br/>
									1970-01-21：	细节向普通白帽子公开<br/>
									1970-01-31：	细节向实习白帽子公开<br/>
									2010-08-18：	细节向公众公开<br/>
								</p>
		<h3 class="detailTitle">简要描述：</h3>

		<p class="detail wybug_description">新浪网可以远程执行代码，可能造成网站被入侵。</p>

		
						<h3 class="detailTitle">详细说明：</h3>
    {$data[0].wybug_detail}
						
			<h3 class="detailTitle">漏洞证明：</h3>
      {$data[0].wybug_poc}
									<h3 class="detailTitle">修复方案：</h3>
      <div class='wybug_patch'>
			<p class="detail">由于官方尚无补丁，且此漏洞主要针对框架攻击，因此建议在ParameterInterceptor中，过滤掉含有\()@等漏洞利用所必须字符的参数。 </p>
    </div>
													<h3 class="detailTitle">版权声明：转载请注明来源 <a style="font-weight:normal" href="http://www.wooyun.org/whitehats/cnyouker" title="cnyouker">cnyouker</a>@<a style="font-weight:normal" href="http://www.wooyun.org/bugs/wooyun-2010-025" title="新浪网存在远程执行漏洞">乌云</a></h3>
		<hr align="center"/>

		
			<h2 id="bugreply">漏洞回应</h2>
     {$data[0].bug_result}
					
		
<hr align="center" />
<script type="text/javascript">
var bugid="25";
var bugRating="-3";
var myRating="";
var ratingCount="0";



function ShowBugRating(k){
	var ratingItems=$(".myrating span");
	$.each(ratingItems,function(i,n){
		var nk=parseInt($(n).attr("rel"));
		if(nk<=k){
			$(n).addClass("on");
		}else{
			$(n).removeClass("on");
		}
	});
	$(".myrating span").hover(
		function(){
			$("#ratingShow").html($(this).attr("data-title"));
		},
		function(){
			$("#ratingShow").html("");
		}
	);
}
$(document).ready(function(){
	if(myRating==""){
		var ratingItems=$(".myrating span");
		$(".myrating span").hover(
			function(){
				$(this).addClass("hover");
				var k=parseInt($(this).attr("rel"));
				$.each(ratingItems,function(i,n){
					var nk=parseInt($(n).attr("rel"));
					if(nk<k) $(n).addClass("on");
					if(nk>k) $(n).removeClass("on");
				});
				$("#ratingShow").html($(this).attr("data-title"));
			},
			function(){
				$(this).removeClass("hover");
				if($("#myRating").val()==""){
					$.each(ratingItems,function(i,n){
						$(n).removeClass("on");
					});
				}
				$("#ratingShow").html("");
			}
		);

		$(".myrating span").click(function(){
			var rating=$(this).attr("rel");
			var k=parseInt($(this).attr("rel"));
			$.post("/ajaxdo.php?module=bugrating",{"id":bugid,"rating":rating,"token":$("#token").val()},function(re){
				//消除操作绑定
				$(".myrating span").unbind();
				re=parseInt(re);
				switch(re){
					case 1:
						$("#ratingShow").html(_LANGJS.RATING_SUCCESS);
						$("#ratingSpan").html(parseInt($("#ratingSpan").html())+1);
						$.each(ratingItems,function(i,n){
							var nk=parseInt($(n).attr("rel"));
							if(nk<=k){
								$(n).addClass("on");
							}else{
								$(n).removeClass("on");
							}
						});
						ShowBugRating(rating);
						break;
					case 2:
						$("#ratingShow").html(_LANGJS.LOGIN_FIRST);
						break;
					case 4:
						$("#ratingShow").html(_LANGJS.RATING_BUGS_DONE);
						break;
					case 6:
						$("#ratingShow").html(_LANGJS.RATING_BUGS_SELF);
						break;
					default:break;
				}
			});
		});
	}else{
		if(ratingCount>2){
			ShowBugRating(bugRating);
		}else{
			ShowBugRating(-3);
		}
	}
});

</script>
<h3 class="detailTitle">漏洞评价：</h3>
<p class="detail">对本漏洞信息进行评价，以更好的反馈信息的价值，包括信息客观性，内容是否完整以及是否具备学习价值</p>
		<h5 class="rating">
		<div class="ratingText">漏洞评价<span>(共<span id="ratingSpan">0</span>人评价)</span>:</div>
		<div class="myrating">
			<span rel="-2" data-title="信息虚假或者没有任何自己的思考"></span>
			<span rel="-1" data-title="内容不详并且漏洞信息评级及类型明显错误"></span>
			<span rel="0" data-title="还可以，洞主继续努力"></span>
			<span rel="1" data-title="信息完整，过程清晰，有截图有代码有视频有真相"></span>
			<span rel="2" data-title="角度独特思路新颖值得学习"></span>
			<div id="ratingShow">
			登陆后才能进行评分			</div>
		</div>
		</h5>
		<input type="hidden" id="myRating" value="" />

<hr align="center" />
<h2>评价</h2>

{$data[0].replys}
<include file="foot" title="foot" />
